/* custom scrollbars */

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); */
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #f50;
    /* border: 2px solid #555555; */
}
@font-face {
    font-family: 'dither';
    src: url('font/DITHER0008.ttf') format('truetype');
}

html {
    font-size: 100%;
    scrollbar-color: #f50 #fff;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
}

body {
    /* background-color: chartreuse; */
    position: relative;
    padding: 0px;
    margin: 0px;
    font-family: 'Source Code Pro', mono;
    padding-bottom: 0rem;
    height: 100vh;
}

a {
    color: #f50;
    text-decoration: none;
}

a:hover {
    /* font-style: italic; */
    font-weight: 100;
    /* border-bottom: solid 5px #0cf; */
}

letterLink {
    color: #f50;
}

menuelement {
    background-color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.3em;
    cursor: pointer;
    border: solid 2px #0cf;
    margin-bottom: 5px
    /* margin: 0px 0px 0.4rem 5px; */
}

menuelement:active {
    border-bottom: solid 5px #f50;
}

menuelement:visited {
    font-style: italic;
    font-weight: 900;
    border-bottom: solid 5px #0cf;
}

menuelement:hover {
    font-style: italic;
    font-weight: 900;
    border-bottom: solid 5px #f50;
}

button {
    border: none;
    padding: 0px;
    background: white;
    background-image: none;
}

button:hover {
    /* border-bottom: solid 5px #f50; */
    background-color: #0cf;
}

/* Personal styles for team members */

yano, micha, shintaro, selena, viktor, kayla, lena {
    line-height: 25pt;
    background-color: white;
    /* border: solid 3px #f00;  */
    /* font-family: 'Source Code Pro', mono; */
}

yano {
    font-family: 'Source Code Pro', mono;
    font-weight: bolder;
    color: rgb(0, 255, 0);
    border-bottom: solid 2px rgb(255, 153, 0);
    background-color: #00f;
}

selena {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #f00;
    /* border-bottom: solid 2px #0cf; */
    background-color: black;
}

micha {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #f50;
    border-bottom: solid 2px #0cf;
    background-color: black;
}

shintaro {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: rgb(255, 255, 255);
    border-bottom: solid 2px #0cf;
    background-color: black;
}

kayla {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f50;
    border-bottom: solid 2px #0cf;
}

viktor {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /*border-bottom: solid 2px rgb(43, 255, 0); */
    /*color: black;*/
    background-color: yellow;
}

viktor h1 {
    color: #fff;
}

lena {
    color: rgb(255, 255, 255);
    border-bottom: solid 2px #0cf;
    background-color: black;
}

.article-container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.main {
    grid-area: mn;
    overflow-y: scroll;
}

.footer {
    grid-area: ft;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    position: absolute;
    bottom: 0px;
    font-size: 0.75rem;
    border: none;
}

.menu {
    grid-area: mu;
    z-index: 999999;
    display: grid;
    grid-template-rows: repeat(6, minmax(auto, 50px));
    margin-top: 0.3rem;
}

.header {
    grid-area: hd;
}

.container {
    display: grid;
    grid-template-columns: 200px calc(100% - 210px);
    grid-template-rows: 50px calc(100vh - 120px) 50px;
    grid-template-areas: "hd hd hd" "mu mn mn" "ft ft ft";
}

#footer1, #footer2 {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 5px #f50;
}

#footer1 span:hover, #footer2 span:hover {
    font-weight: 900;
    color: #0cf;
    border-bottom: solid 2px #f50;
    /* font-size: 2vh */
}

#myTitle span:hover {
    /* font-style: italic; */
    font-weight: 900;
    color: #0cf;
    /* font-size: 5vh; */
}

.preview{
    height: auto;
    max-height: 250px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    grid-template-rows: repeat(2, max-content);
    grid-template-areas: "ti ti";
    /* overflow-y: scroll; */
    font-size: 1rem;
    margin: 0.5rem;
    float: right;
    padding: 0.8em;
    outline: solid 2px #0cf;
    word-break: break-word;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: 100% auto;
}
.enlarged{
    height: auto;
    max-height: 250px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, max-content));
    grid-template-rows: repeat(2, minmax(0, max-content));
    grid-template-areas: "ti ti" "tx md";
    overflow-y: scroll;
    font-size: 1rem;
    margin: 0.5rem;
    float: right;
    padding: 0.8em;
    outline: solid 2px #0cf;
    word-break: break-word;
}
.preview a:hover, .inspiration a:hover, .enlarged a:hover{

    font-weight: bolder;
    color: #0cf;
    border-bottom: solid 2px #f50;
    /* background-color: white; */
    font-style: italic;
    /* letter-spacing: 3px; */
}
/* 
to change design of single article divs change them down here
*/

.thumb-content{
    grid-area: tb;
}

.media-content {
    grid-area: md;
    /* outline: solid 2px #f50; */
}

.media-content img, img.thumb-content {
    width: 100%;
    height: auto;
    max-width: 550px;
    border: solid 3px #f50;
}

.media-content iframe{
    width: 100%;
    height: auto;
    max-width: 550px;
}

.title-content {
    grid-area: ti;
    font-size: 1.5rem;
    color: #fff;
    background-color: #0005;
    margin-bottom: 0.3rem;
}

.text-content {
    grid-area: tx;
}
/* text */
.text-content p{
    background: rgba(255, 255, 255, 0.75);
}

.german {
    display: none;
    /* background-color: #fff; */
    /* height: 300px; */
}

.caption {
    font-size: 0.75rem;
    font-style: italic;
}

/*
dynamic content stuff
*/

.inspiration {
    display: block;
    position: relative;
    width: 95%;
    height: auto;
    min-height: 350px;
    max-height: 600px;
    overflow-y: scroll;
    font-size: 1rem;
    margin: 0.5vw;
    float: right;
    padding: 0.8em;
    outline: solid 2px #0cf;
}

#dynamicContent {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    /* align-content: stretch; */
    /* position: fixed; */
    box-sizing: border-box;
    /* background-color: red; */
    position: relative;
    /* width: 80%; */
    max-width: 1200px;
    /* display: block; */
    margin: auto;
    /* margin: 10px; */
}

.inspirationContent, .inspirationContentGrid {
    z-index: 0;
    /* position: relative;
    float: left; */
    color: black;
    width: 20%;
    min-width: 100px;
    max-width: 400px;
    height: auto;
    border: none;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85% auto;
    margin: 5px;
}

.inspirationContentGrid {
    float: left;
    top: 0px;
    left: 0px;
    position: relative;
}

.inspirationContent a {
    /* text-align: center; */
    /* background-color: #fff;
    box-shadow: 5px 5px 20px grey; */
}

.content {
    /* text-align: center; */
    word-break: break-word;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px 20px grey;
    /* width: 75%; */
    margin-top: 50%;
    transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.inspirationContent yano {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 5px 5px 20px grey;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.inspiration:hover {
    z-index: 999;
}

img.inspirationImage {
    width: 300px;
    border: none;
}

.title {
    /* line-height: 0vh; */
    font-family: 'dither';
    text-align: center;
    color: #f50;
    position: fixed;
    /* bottom: 176px; */
    /* right: 0px; */
    width: max-content;
    width: -moz-max-content;
    width: -webkit-max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    line-height: 0.5em;
    /* padding: 1vw; */
    z-index: -9999;
    font-size: 7rem;
    /* font-weight: bolder; */
    /* transform: rotate(30deg); */
}

/* responsive video container */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img#header {
    height: 50px;
    /* width: auto; */
    float: right;
    border: none;
}

img#menuIcon {
    display: none;
    /* float: none; */
    /* top: 10px; */
    /* width: 17%; */
    /* height: auto; */
    max-height: 40px;
    max-width: 40px;
}

@media only screen and (max-width: 899px) {
    html {
        font-size: 75%;
    }
    .output, .german, .project, .process, .inspiration, .team {
        float: none;
        margin: 10px auto;
        width: 85%;
        height:50vh;
    }

    .preview{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, max-content));
        grid-template-rows: repeat(3, max-content);
        grid-template-areas: "ti ti" "tx tx" "md md";
        overflow-y: scroll;
    }

    .enlarged{
        float: none;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, max-content));
        grid-template-rows: repeat(3, max-content);
        grid-template-areas: "ti ti" "tx tx" "md md";
        overflow-y: scroll;
        margin: 0px auto;
    }

    .media-content{
        text-align: center;
    }
    .footer{
        display: block;
    }
    #footer1, #footer2 {
        padding-left: 5px;
        padding-right: 5px;
    }
    menuelement {
        font-size: 1.5rem;
        padding: 0.75rem;
        /* margin: 0px 0px 10px 0px; */
        text-align: center;
    }
    .container {
        display: grid;
        grid-template-columns: 50px calc(100% - 50px);
        grid-template-rows: 40px calc(100vh - 80px) min-content;
        grid-template-areas: "mu hd hd" "mn mn mn" "ft ft ft";
    }
    img#menuIcon {
        display: block;
        height: 40px;
        width: auto;
    }
    img#header {
        max-height: 40px;
    }
}