/* custom scrollbars */
::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); */
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #f50;
	/* border: 2px solid #555555; */
}

canvas{
    position: fixed;
    top: 0px;
    left: 0px;
}

body{
    /* background-color: chartreuse; */
    position: relative;
    padding: 0px;
    margin: 0px;
    font-family: 'Source Code Pro', mono;
    padding-bottom: 0rem;
    height: 100vh;
}

img{
    position: relative;
    width:100%;
    height: auto;
    float: right;
    max-width: 650px;
    border: solid 3px #f50;
}

a{
    color: #f50;
    text-decoration: none;
}

a:hover{
    /* font-style: italic; */
    font-weight: 100;
    /* border-bottom: solid 5px #0cf; */
} 

letterLink{
    color: #f50;
}

menuelement{
    background-color: #fff;
    font-family: inherit;
    font-size: inherit;
    padding: 0.3em;
    cursor: pointer;
    border: solid 5px #0cf;
    margin: 0.4em 0px;
}

menuelement:active{
    border-bottom: solid 5px #f50;
}
menuelement:visited{
    font-style: italic;
    font-weight: 900;
    border-bottom: solid 5px #0cf;
}
menuelement:hover{
    font-style: italic;
    font-weight: 900;
    border-bottom: solid 5px #f50;
}
button{
    border: none;
    padding: 0px;
    background: white;
    background-image: none;
}
button:hover{
    /* border-bottom: solid 5px #f50; */
    background-color: #0cf;
}
/* Personal styles for team members */
yano, micha, shintaro, selena, viktor, kayla{
    line-height: 25pt;
    /* border: solid 3px #f00;  */
    /* font-family: 'Source Code Pro', mono; */

}

yano{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 255, 30);
    border-bottom: solid 2px rgb(255, 153, 0);
    background-color: black;
}

selena{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #f00;
    /* border-bottom: solid 2px #0cf; */
}

micha{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #f50;
    border-bottom: solid 2px #0cf;
}

shintaro{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: rgb(255, 255, 255);
    border-bottom: solid 2px #0cf;
    background-color: black;
}

kayla{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f50;
    border-bottom: solid 2px #0cf;
}

viktor{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    color: #f50;
    border-bottom: solid 2px rgb(43, 255, 0);
}

.output,
.german,
.project, 
.process, 
.inspiration, 
.team,
.footer{
    display: block;
    width: 25vw;
    min-width: 250px;
    overflow-y: scroll;
    font-size: 100%;
    /* font-family: sans-serif; */
    margin: 0.5vw;
    /* clear: both; */
    /* padding: 3vw; */
    float: right;
    padding: 0.8em;
    /* top: 100px; */
    border: solid 5px #0cf;
    -webkit-transition: -webkit-transform 2s; /* Safari */
    -ms-transition: -ms-transform 2s; /* mozilla */
    transition: transform 2s;
    /* -webkit-column-count: 2; Chrome, Safari, Opera */
    /* -moz-column-count: 2; Firefox */
    /* column-count: 2; */
}

.german:hover,
.project:hover, 
.process:hover{
    -webkit-transform: rotate(-2deg); /* Safari */
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.process:hover,
.inspiration:hover, 
.team:hover{
    -webkit-transform: rotate(2deg); /* Safari */
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}
.menu{
    position: fixed;
    background-color: #ffffff00;
    /* border: solid 5px #0cf; */
    /* max-width: 200px; */
    width: auto;
    /* clear: left; */
    height: auto;
    overflow-y: initial;
    /* line-height: 450%; */
    display: grid;
    margin: 0px;
    z-index: 999;
    padding-left: 1vw;
    padding-top: 1vw;
    /* min-width: 180px;
    width: 20vw; */
} 
.project{
    /* background-color: cyan; */
    height: 250px;

} 
.process{
    background-color: yellow;
    height: 200px;
    /* max-height: 400px; */
} 
.inspiration{
    background-color: coral;
    height: 200px;
}
.team{
    /* background-color: green; */
    height: 300px;
}
.output{
    background-color: cyan;
    height: 300px;
}
.german{
    background-color: blue;
    height: 300px;
}

.output a:hover,
.german a:hover,
.project a:hover,
.process a:hover, 
.inspiration a:hover, 
.team a:hover{
    font-weight: bolder;
    color: #0cf;
    border-bottom: solid 2px #f50;
    background-color: white;
    letter-spacing: 3px;
}
.container{
        /* left: 200px; */
    /* top: 120px; */
    right: 0px;
    /* width: 78vw; */
    margin: auto auto auto 200px;
    min-height: 100%;
    position: relative;
    z-index: 1;
    display: block;
    padding-left: 4vw;
}
.title{
    /* line-height: 0vh; */
    text-align: center;
    color: #f50;
    position: fixed;
    /* bottom: 176px; */
    /* right: 0px; */
    top:10%;
    left: 20vh;
    /* line-height: 0.5em; */
    /* padding: 1vw; */
    z-index: 0;
    font-size: 8.5vw;
    font-weight: bolder;
    transform: rotate(30deg);
    
}
.footer{
    position: relative;
    bottom: 0px;
    height: auto;
    width: 95vw;
    margin: auto;
    /* background-color: rgba(255, 255, 255, 0.488); */
    overflow-y: initial;
    /* background-color: #f50; */
    /* height: auto; */
    font-size: 1.5vh;
    border: none;
    /* position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem; */
}
#footer1, 
#footer2{
    max-width: 45vw;
    min-width: 44vw;
    /* height: 125px; */
    /* min-height: 125px; */
    height: auto;
    display: inline-table;
    margin: auto;
    padding-left: 10px;
    border-left: solid 5px #f50;
}
#footer1 span:hover{
    font-weight: 900;
    color: #0cf;
    border-bottom: solid 2px #f50;
    /* font-size: 2vh */
}
#footer2 span:hover{
    font-weight: 900;
    color: #0cf;
    border-bottom: solid 2px #f50;
    /* font-size: 2vh; */
}

#myTitle span:hover{
    /* font-style: italic; */
    font-weight: 900;
    color: #0cf;
    /* font-size: 5vh; */
}
img#header{
    /* position: fixed; */
    /* top: 0px; */
    left: 0px;
    border: none;
    float:none;
    /* display: block;
    margin: auto; */
    /* background-color: #f00; */
}
img#menuIcon{
    float: none;
    /* top: 10px; */
    /* width: 17%; */
    height: auto;
    max-height: 40px;
    max-width: 40px;
}

@media only screen and (max-width: 699px) {
    .project, .sBlog, .moodBoard, .team, .foot{
        float: none;
        margin: 1vh auto;
    }
    #footer1,
    #footer2{
        max-width: 42vw;
        min-width: 41vw
    }
    /* .menu{
        right: 0px;
        padding-right: 1vw;
        text-align: right;
        top: 0px;
    } */
    #myHeader{
        min-height: 45px;
        position: relative;
    }
    .project:hover, 
    .sBlog:hover, 
    .moodBoard:hover, 
    .team:hover{
    -webkit-transform: none; /* Safari */
    -ms-transform: none;
    transform: none;
}
    .container{
        margin: auto;
        display: block;
        padding: 0px;
        width: 100%;
    }
}